<div class="container-fitur-chat">
  <div class="chat-contacts">
    <div class="chat-contacts-header">
      <p>Messages</p>
      <p class="light-blue">Collaborator, people, messages</p>
    </div>
    <div class="chat-contacts-list">
      <% contacts.forEach(function(contact) { %>
        <div class="contact <%= contact.isSelected ? 'contact-selected' : 'not-selected' %>" id="<%= contact.id %>">
          <img src="<%= contact.imageUrl %>" alt="" />
          <div>
            <p class="name"><%= contact.name %></p>
            <p class="latest-chat"><%= contact.latestChat %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <div class="chat-box">
    <div class="chat-box-header">
      <div class="chat-box-header-info">
        <img src="<%= chatHeader.imageUrl %>" alt="" />
        <div>
          <p class="chat-header-title"><%= chatHeader.title %></p>
          <p class="group-stat light-blue highlight"><%= chatHeader.groupStat %></p>
        </div>
      </div>
      <button class="clear-button">
        <i class="fa-regular fa-trash-can fa-xl"></i>
      </button>
    </div>
    <div class="chats">
      <p class="chat-date"><%= chatDate %></p>
      <div class="chat-bubble-container">
        <% chats.forEach(function(chat) { %>
          <div class="chat-bubble">
            <div><img src="<%= chat.sender.imageUrl %>" alt="" /></div>
            <div>
              <p class="chat-current-contact-name"><%= chat.sender.name %></p>
              <div class="bubble">
                <p><%= chat.message %></p>
              </div>
            </div>
          </div>
          <% if (chat.isMine) { %>
            <div class="my-chat-bubble">
              <div class="my-chat-bubble-text">
                <p>You</p>
                <div class="my-bubble">
                  <p class="last-chat"><%= chat.message %></p>
                </div>
              </div>
              <div><img src="<%= chat.sender.imageUrl %>" alt="" /></div>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <form class="chat-input-form">
    <i class="fa-solid fa-plus plus-button"></i>
    <input class="text-area" type="text" placeholder="<%= messagePlaceholder %>" />
    <i class="fa-solid fa-icons fa-xl attach-button"></i>
    <i class="fa-solid fa-microphone fa-lg attach-button"></i>
    <button type="submit" class="send-button">
      <i class="fa-regular fa-paper-plane fa-xl attach-button"></i>
    </button>
  </form>
</div>
