<div class="app">
  <main class="taskify">
    <div class="taskify-tasks">

      <!-- Mulai iterasi untuk setiap kolom -->
      <% for (let col of columns) { %>
      
        <div class="taskify-col">
        <div class="taskify-col-header">
          <h1 class="taskify-col-header-title"><%= col.title %></h1>
        </div>

        <!-- Mulai iterasi untuk setiap tugas dalam kolom -->
        <% for (let task of col.tasks) { %>
        
          <div class="task" draggable="true">
          <div class="task-tags">
            <span class="task-tag"><%= task.tag %></span>
            <button class="task-options">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!-- Menampilkan deskripsi tugas -->
          <p><%= task.description %></p>

          <div class="task-desc">
            <span><i class="fas fa-calendar"></i> <%= task.date %></span>
            <button class="comments">
              <span><i class="fas fa-comments"></i> <%= task.comments %></span>
            </button>
            <span class="task-owner"><%= task.owner %></span>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </main>
  <aside class="taskify-progress">
    <div class="tag-progress">
      <h1>Task Progress 💯🚀🎯</h1>

      <!-- Mulai iterasi untuk setiap data progres -->
      <% for (let progress of progressData) { %>

      <div class="tag-progress">
        <!-- Menampilkan tag progres -->
        <p><%= progress.tag %><span><%= progress.current %>/<%= progress.total %></span></p>
        <progress class="progress" value="<%= progress.current %>" max="<%= progress.total %>"></progress>
      </div>
      <% } %>
    </div>
  </aside>
</div>

<a href="/chat" class="chat-button">
  <img src="assets/conversation.png" alt="Chat Icon" />
</a>